<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <h4>Detalles de la Cancha:</h4>
            <table class="table">
                <thead>
                    <tr>
                        <td><img src={{canchaDetail.imagen}} width=200 height=200></td>
                        <td>
                            <h5>{{canchaDetail.nombre}}</h5>
                        </td>
                    </tr>
                </thead>
                <br>
                <tbody>
                    <tr>
                        <td>Tipo de cancha:</td>
                        <td>{{canchaDetail.tipoCancha}}</td>
                    </tr>
                    <tr>
                        <td>Zona:</td>
                        <td>{{canchaDetail.zona}}</td>
                    </tr>
                    <tr>
                        <td>Ciudad:</td>
                        <td>{{canchaDetail.ciudad}}</td>
                    </tr>
                    <tr>
                        <td>Descripcion:</td>
                        <td>{{canchaDetail.caracterizticas}}</td>
                    </tr>
                    <tr>
                        <td>Dirección:</td>
                        <td>{{canchaDetail.direccion}}</td>
                    </tr>
                    <tr>
                        <td>Propietario:</td>
                        <td>{{canchaDetail.Propietario}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col">
            <h4>Reservas actuales:</h4>
        </div>
        <div class="col-3">
            <h4>Otras canchas:</h4>
            <div class="scroll">
                <div class="list-group" *ngFor="let cancha of other_canchas">
                    <a class="list-group-item" routerLink="/canchas/{{cancha.id}}" style="color:black">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{cancha.nombre}}</h6>
                            <small>{{cancha.ciudad}}</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>