<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container-fluid">
        <div class="col">
                <table class="table table-striped">
                        <thead class="thead-dark">
                                <tr>
                                        <th>Nombre</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let i of posts">
                                        <td style="cursor: pointer;">
                                                <a class="figure-caption"
                                                        routerLink="/posts/detail/{{i.id}}">
                                                        {{i.nombre}}</a>
                                        </td>
                                                                        </tr>
                        </tbody>
                </table>
            <app-post-create></app-post-create>
            <app-post-edit></app-post-edit>
        </div>
</div>
