<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
            <br>
            <div class="row justify-content-center align-self-center" *ngxPermissionsOnly="['ADMIN']" >
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Create a post</button>
            </div>
            <br>
             <div *ngIf="showCreate">
                <app-post-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-post-create>
                
            </div>
            <br>
            <br>
            <div class="card-columns">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;" *ngFor="let i of posts">
  <div class="card-body">
    <h5 class="card-title"> <a class="figure-caption"
    routerLink="/posts/detail/{{i.id}}">
            <b> Post# </b> {{i.id}}</a></h5>
      <p class="card-text"><b> Titulo:  </b>{{i.nombre}}</p>
                <button type="button" *ngxPermissionsOnly="['ADMIN']" class="btn btn-light" routerLink="/posts/edit/{{i.id}}">Editar</button>
                
                <button class="btn btn-danger" *ngxPermissionsOnly="['ADMIN']" (click)="deletePost(i.id)"><span class="fa fa-trash"></span></button>

  </div>
</div>
</div>
</html>      
            
           

            
       
        