<div class="container-fluid">
    <div class="row">
        <div class="card" style="width: 18rem;" *ngFor="let cancha of canchas">
            <img src="{{cancha.imagen}}" class="card-img-top" height=250>
            <div class="card-body">
                <h5 class="card-title">{{cancha.nombre}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{cancha.tipoCancha}}</li>
                <li class="list-group-item">{{cancha.ciudad}}</li>
                <li class="list-group-item">{{cancha.zona}}</li>
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-dark"
                    routerLink="/canchas/{{cancha.id}}">Detalles</button>
            </div>
        </div>
    </div>
</div>