<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
   <br>
 <div class="row justify-content-center align-self-center" *ngxPermissionsOnly="['ADMIN']">
     <button  [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear un blog</button>
            </div>
   <div *ngIf="showCreate">
                <app-blog-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-blog-create>
                
            </div>
            <br>
            <br>
              <div class="container"*ngFor="let i of blogs">

                 
  <img src="{{i.rutaImagen}}" alt="Imagen del blog" class="image" style="width:100">
  <div class="overlay">
       <p class="title">{{i.nombre}}</p>

  <div  class="button" *ngxPermissionsOnly="['ADMIN']"><a   (click)="deleteBlog(i.id)">Borrar</a></div>
                           <br>
                           <br>   
                               <div class="button"><a href="/blogs/detail/{{i.id}}"> Detalle </a></div> 

  <br>
  <br>
  <div class="button"*ngxPermissionsOnly="['ADMIN']"><a href="/blogs/edit/{{i.id}}"> Editar </a></div>
                 </div>
</div>
</html>      
