<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<form name="campeonato" (ngSubmit)="f.form.valid && updateCampeonato()" #f="ngForm" novalidate>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="campeonatoNombre"><b>Nombre del campeonato</b></label>
                    <input type="text" name="campeonatoNombre" class="form-control" id="campeonatoNombre"
                        [(ngModel)]="campeonato.nombre" #campeonatoNombre="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && campeonatoNombre.invalid }" required>
                    <div class="invalid-feedback">
                        <div>Este campo es obligatorio</div>
                    </div>
                    <br>
                    <label for="campeonatoDescripcion"><b>Descripcion del campeonato</b></label>
                    <input type="text" name="campeonatoDescripcion" class="form-control" id="campeonatoDescripcion"
                        [(ngModel)]="campeonato.descripcion" #campeonatoDescripcion="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && campeonatoDescripcion.invalid }" required>
                    <div class="invalid-feedback">
                        <div>Este campo es obligatorio</div>
                    </div>
                    <br>
                    <label for="campeonatoDeporte"><b>Deporte jugado en el campeonato</b></label>
                    <input type="text" name="campeonatoDeporte" class="form-control" id="campeonatoDeporte"
                        [(ngModel)]="campeonato.deporte" #campeonatoDeporte="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && campeonatoDeporte.invalid }" required>
                    <div class="invalid-feedback">
                        <div>Este campo es obligatorio</div>
                    </div>
                        <label for="campeonatorutaImagen"><b> Ruta de la imagen</b></label>
                    <input type="text" name="campeonatorutaImagen" class="form-control" id="campeonatorutaImagen"
                        [(ngModel)]="campeonato.rutaImagen" #campeonatorutaImagen="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && campeonatorutaImagen.invalid }" required>
                    <div class="invalid-feedback">
                        <div>Este campo es obligatorio</div>
                    </div>
                    
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Editar</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancel</button>
            </div>
        </div>
    </form>