<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Crear a campeonato</h2>
        <br>
        <form name="campeonato" (ngSubmit)="f.form.valid && createCampeonato()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="campeonatoName"><b>Nombre</b></label>
                <input type="text" name="campeonatoName" class="form-control" id="campeonatoName" [(ngModel)]="campeonato.name"
                    #campeonatoName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && campeonatoName.invalid }" required>
                <div class="invalid-feedback">
                    <div>The campeonato's name is missing</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>