<div class="container-fluid">
	<div class="row">
		<div class="col">
			<table class="table- table-stripped">
				<thead class="thead-dark">
					<tr>
						<th> Entrenamientos</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let i of entrenamientos">
						<td style="cursor: pointer;">
							<a class="figure-caption" (click)="onSelected(i.id)">{{i.id}}</a>
						</td>
            <td style="cursor: pointer;">
							<a class="figure-caption" (click)="onSelected(i.id)">{{i.fecha}}</a>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
  	</div>
  	<div class="border row">
		<div class="col">
			<div *ngIf="selectedEntrenamiento">
				<app-entrenamiento-detail [entrenamientoDetail]="selectedEntrenamiento"> </app-entrenamiento-detail>
			</div>
		</div>

 