<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<body>
     <section class="titles">

    <h1> Bienvenido a Sports Spot</h1>
    <p>¡míralo,vívelo,juégalo!</p>

  </section>

<section class="container-boxes">
    <div class="box">

      <div class="icon">
        <a href="/campeonatos/list"></a>
      </div>

      <div class="text">
        <a href="/campeonatos/list">
          <h3>Campeonatos</h3>
          <p>¡Entra aquí para ver los campeonatos de tus deportes favoritos!</p>
        </a>
      </div>

    </div>

    <div class="box">

      <div class="icon">
        <a href="/canchas/list"></a>
      </div>

      <div class="text">
        <a href="/canchas/list">
          <h3>Canchas</h3>
          <p>¿Interesado en saber si hay canchas cerca a tu ubicación? Entra aqui para ver las canchas disponibles</p>
        </a>
      </div>

    </div>

    <div class="box">

      <div class="icon">
        <a href="/partidos/list"></a>
      </div>

      <div class="text">
        <a href="/partidos/list">
          <h3>Partidos</h3>
          <p>¿Quieres conocer los resultados de tu equipo o los partidos que se  jugaran proximamente? Entra aqui para averiguarlo</p>
        </a>
      </div>

    </div>
  </section>

</body>
