<div class="container">
	<div class="row">
        <div class="span12">
    		<table class="table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                      <th colspan="2">
                        <span class="btn-group">
                            <a class="btn">a<i class="icon-chevron-left"></i></a>
                        	<a class="btn active">Agenda</a>
                        	<a class="btn">b<i class="icon-chevron-right"></i></a>
                        </span>
                      </th>
                    </tr>
                    <tr>
                        
                        <th>Date1</th>
                        <th>Date2</th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                    </tr>
                    <tr>
                        
                    </tr>
                    <tr>
                        
                    </tr>
                    <tr>
                        
                    </tr>
                    <tr>
                        
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>