
  <table class="table">
      <thead class="thead-dark">
        <tr align = "center">
          <th scope="col-1"  align = "center"><button type="button" class="btn btn-dark" >Previous Day</button></th>
          <th scope="col-2"></th>
          <th scope="col-3"></th>
          <th scope="col-4"></th>
          <th scope="col-5"  align = "center">DATE</th>
          <th scope="col-6"></th>
          <th scope="col-7"></th>
          <th scope="col-8"></th>
          <th scope="col-9"></th>
          <th scope="col-10"></th>
          <th scope="col-11"></th>
          <th scope="col-12"><button type="button" class="btn btn-dark" >Next Day</button></th>
        </tr>
      </thead>
      <tbody>
          <app-franja-list>

            </app-franja-list>
          
        
      </tbody>
    </table>