<table class="table">
    <thead></thead>
    <tbody>
<tr>
        <th class = "text-center">#</th>   
        <th class = "text-center">Hora de Inicio</th>
        <th class = "text-center">Hora de Fin</th>
        <th class = "text-center" >Reservada</th>
      
</tr>
<ng-container *ngFor="let franja of franjas">
    <tr >
        <th class = "text-center">{{franja.id}}</th>
        <th class = "text-center">{{franja.horaInicio}}:00</th>
        <th class = "text-center">{{franja.horaFin}}:00</th>
        <th class = "text-center">{{franja.ocupada}}</th>
        <th class = "text-center"> <button type="button" class="btn btn-primary col-8">Reservar</button>  </th>
        <th class = "text-center"> <button type="button" class="btn btn-danger col-8" (click)="eliminarFranja(franja.id)">Eliminar</button>  </th>
    </tr>
</ng-container>
</tbody>
</table>