<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <h4>Detalles del Propietario:</h4>
            <table class="table">
                <thead>
                    <tr>
                        <td><img src={{propietarioDetail.imagen}} width=200 height=200></td>
                    </tr>
                </thead>
                <br>
                <tbody>
                    <tr>
                        <td>Nombre:</td>
                        <td>{{propietarioDetail.nombre}}</td>
                    </tr>
                    <tr>
                        <td>Numero de Canchas que administrta:</td>
                        <td>{{propietarioDetail.numCanchas}}</td>
                    </tr>
                </tbody>
                <button type="button" class="btn btn-dark" routerLink="/propietarios/edit/{{propietarioDetail.id}}">Editar</button>
            </table>
           
        </div>
        <div class="col">
            <h4>Canchas administradas</h4>
            <div class="scroll">
                <div class="list-group" *ngFor="let cancha of canchas">
                    <a class="list-group-item" routerLink="/canchas/{{cancha.id}}" style="color:black">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{cancha.nombre}}</h6>
                            <small>{{cancha.ciudad}}</small>
                        </div>
                    </a>
                </div>
            </div>
            <button type="button" class="btn btn-dark" routerLink="/canchas/create/{{propietarioDetail.id}}">Crear cancha</button>
        </div>
        <div class="col-3">
            <h4>Otras canchas:</h4>

        </div>
    </div>
</div>